<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console 输出 -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- HTTP 远端日志（Fluentd / Log Collector） -->
        <Http name="FluentdHttp"
              url="http://10.0.82.143:8888/"
              method="POST"
              connectTimeoutMillis="3000"
              readTimeoutMillis="5000">
            <PatternLayout pattern='{"timestamp":"%d{yyyy-MM-dd HH:mm:ss}","level":"%p","logger":"%c","thread":"%t", "payload": %m}'/>
        </Http>

    </Appenders>

    <Loggers>

        <!-- 专用 HTTP Logger -->
        <Logger name="FLOW_LOGGER"
                level="info"
                additivity="true">
            <AppenderRef ref="FluentdHttp"/>
        </Logger>

        <!-- Root Logger（默认日志） -->
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>

    </Loggers>
</Configuration>
